<% content_for :title do %>
  MoneyBudget <br /> <span class="subtitle"><%= DateTime.now %></span>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Starting Amount</th>
      <th>Ending Amount</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.name %></td>
        <td><%= budget.description %></td>
        <td><%= budget.starting_amount %></td>
        <td><%= budget.ending_amount %></td>
        <td><%= budget.start %></td>
        <td><%= budget.end %></td>
        <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget', new_budget_path %>
